$breakpoints: (
  xs: 0,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1199.98px,
  xxl: 1399.98px,
);

@mixin xs {
  @media (max-width: map-get($breakpoints, "xs")) {
    // Using max-width seems to make more sense to me personally since we are building this portfolio desktop first
    @content;
    // We use @content because we don't want to hard-code and make our mixins reusable
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
@mixin xxl {
  @media (max-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}
