* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.touch-none {
  touch-action: none;
}
